<div class="container">
    <div class="row justify-content-center" >
        <app-main-menu class="col-4" (click)="goTo('Africa')">
            <p title>Africa</p>
            <p class="icon_menu bi bi-compass" image></p>
        </app-main-menu>
        <app-main-menu class="col-4" (click)="goTo('Americas')">
            <p title>Americas</p>
            <p class="icon_menu bi bi-geo" image></p>
        </app-main-menu>
        <app-main-menu class="col-4" (click)="goTo('Asia')">
            <p title>Asia</p>
            <p class="icon_menu bi bi-globe" image></p>
        </app-main-menu>
        <app-main-menu class="col-4" (click)="goTo('Europe')">
            <p title>Europe</p>
            <p class= "bi icon_menu bi-map" image></p>
        </app-main-menu>
        <app-main-menu class="col-4" (click)="goTo('Oceania')">
            <p title>Oceania</p>
            <p class="icon_menu bi-geo-alt" image></p>
        </app-main-menu>
    </div>   
</div>

