<div class="form-1-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 form-1-box wow fadeInUp">
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2">O mnie</legend>
                        <p>
                            <span class="icon bi bi-emoji-smile" (click)="openDialog()"></span>
                        </p>
                        <legend class="w-auto px-2">Kontynenty</legend>
                            <p class="text-center">
                                Każdy fragment kuli ziemskiej, który nie jest zalany wodami mórz i oceanów, nazywamy lądem. Wśród lądów wyróżniamy wielkie obszary o powierzchni wielu milionów kilometrów kwadratowych, nazywając je kontynentami, oraz małe fragmenty lądów nazywane wyspami.
                            </p>
                            <p class="text-center">
                                Azja to największy kontynent o powierzchni około 44,6 mln kmIndeks górny 22. Leży prawie w całości na półkuli północnej i wschodniej. Wielu badaczy uważa, że wraz z Europą stanowi jeden kontynent nazywany Eurazją (o powierzchni ponad 55 mln kmIndeks górny 22).
                            </p>
                            <p class="text-center">
                                Afryka jest drugim pod względem powierzchni kontynentem. Jej obszar to ponad 30 mln kmIndeks górny 22. Leży na północ i południe od równika oraz na wschód i zachód od południka 0⁰, czyli na wszystkich półkulach. Afryka ma najwięcej państw ze wszystkich kontynentów.
                            </p>
                            <p class="text-center">
                                Ameryka Północna ma powierzchnię ponad 24 mln kmIndeks górny 22 i położona jest w całości na półkulach północnej i zachodniej.
                            </p>
                            <p class="text-center">
                                Ameryka Południowa ma nieco mniej niż 18 mln kmIndeks górny 22, a leży po obu stronach równika, ale tylko na półkuli zachodniej. Niektórzy badacze uważają obie Ameryki za jeden kontynent.
                            </p>
                            <p class="text-center">
                                Antarktyda ma powierzchnię zaledwie 13 mln kmIndeks górny 22 i leży wokół bieguna południowego. To jedyny duży ląd na świecie, na terenie którego nie ma żadnego państwa i który do żadnego państwa nie należy.
                            </p>
                            <p class="text-center">
                                Europa ma powierzchnię około 10,5 mln kmIndeks górny 22 i leży wraz Azją na półkuli północnej i wschodniej, ale jej zachodnie krańce sięgają półkuli zachodniej.
                            </p>
                            <p class="text-center">
                                Australia jest najmniejszym kontynentem o powierzchni zaledwie 7,5 mln kmIndeks górny 22 bez przybrzeżnych wysp (z całą Oceanią – 8,5 mln kmIndeks górny 22). Leży na półkuli południowej i wschodniej. Jest w całości zajęta przez jeden kraj noszący tę samą nazwę.
                            </p>
                            <small>https://zpe.gov.pl/a/kontynenty-na-ziemi/D1Bw5HYBX</small>
                    </fieldset>
            </div>
        </div>
    </div>
</div>